<div class="p-4">
  <h2 class="text-3xl font-bold mb-8 text-center text-primary">
    Platillos de Comida
  </h2>

  <!-- Grid de cards -->
  <div
    class="grid gap-6 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 max-w-7xl mx-auto"
  >
    <!-- Card 1 -->
    @for (dishe of dishes(); track dishe.id) {

    <div
      class="card bg-base-100 shadow-md hover:shadow-xl transition rounded-xl"
    >
      <figure>
        <img
          [src]="dishe.urlImage"
          alt="Shoes"
          class="h-48 w-full object-cover rounded-t-xl"
        />
      </figure>
      <div class="card-body">
        <h2 class="card-title">
          {{ dishe.name }}
        </h2>
        <p>
          {{ dishe.description }}
          <br />
          Precio:
          <span class="font-bold badge badge-primary">{{
            dishe.price | currency : "Q" : "symbol-narrow" : "1.2-2"
          }}</span
          >
        </p>
        <div class="card-actions justify-end mt-2">
          <button
            class="btn btn-primary btn-sm"
            (click)="openModalReservation(dishe)"
          >
            promociones
          </button>
          
          <button
            class="btn btn-outline btn-sm"
            (click)="clickGoOpinionsDishes(dishe.id)"
          >
            Ver Opiniones
          </button>
        </div>
      </div>
    </div>

    }
  </div>
</div>

<dialog #modalReservation id="my_modal_1" class="modal">
  @if (dishe()) {
  <app-promotions-modal
    (close)="closeModalReservation()"
    [disheId]="dishe()!.id"
  />
  }
</dialog>
